<header>
	<img src="/evie.png" class="logo">
	<a href="/logout" class ="btn btn-header btn-color">Log Out</a>
	<a href="/groups" class="btn btn-header btn-color">Back to all groups</a>
</header>

<div class="wrapper">
	<h1>Confirm one of the following:</h1>
	<div style="float: left">
	{{#each winners}}
		<div>
			<h3>{{event.title}} <a href='/confirm/{{_id}}'>Confirm</a></h3>
		</div>
	{{/each}}
	</div>
	<h1>Results</h1>
	<div style="float: left">
	{{#each results}}
		<div>
			<h3>{{event.title}}: {{tally.length}}</h3>
		</div>
	{{/each}}
	</div>
</div>