<div class="centerLog">
    <div>
        <img src="evie.png" class="logo">
    </div>
    <center>
        <form method="POST">
            <div class="form-group">
                <input type="text" class="form-control" name="username" placeholder="Username">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" name="password" placeholder="Password">
            </div>
            <button type="submit" id="login" class="btn btn-color">Login</button>
        </form>
    </center>

    <div>
        <a href="/register" id="register"  class ="btn btn-color">Sign Up Here</a>
    </div>
</div>