<div class="centerReg">
    <div>
        <img src="evie.png" class="logo">
    </div>
    <center>
        <div class="formWidth">
            <form method="POST">
              <div class="form-group formSpace">
                <input type="text" class="form-control" name="username" placeholder="Username">
              </div>
              <div class="form-group formSpace">
                <input type="text" class="form-control" name="phoneNum" placeholder="Phone Number">
              </div>
              <div class="form-group formSpace">
                <input type="password" class="form-control" name="password" placeholder="Password">
              </div>
              <div class="form-group formSpace">
                <input type="password" class="form-control" name="passwordRepeat" placeholder="Retype Password">
              </div>
              <button type="submit" id="login" class="btn btn-color">Sign Up</button>
            </form>
        </div>
        <div>
            <a href="/" id="backSign" class ="btn btn-color pads">Back to Sign In</a>
        </div>
    </center>
</div>