<header>
	<img src="/evie.png" class="logo">
	<a href="/logout" class ="btn btn-header btn-color">Log Out</a>
	<a href="/groups" class="btn btn-header btn-color">Back to all groups</a>
</header>
<div class="wrapper">
	<div>
		<a href="/actNow/{{_id}}" class='btn btn-color'>Take action now</a>
	</div>
	<div>
		Results
	</div>
	{{#each results}}
	<div style="float:left">
		<h3>{{event.title}}: {{tally.length}}</h3>
	</div>
	{{/each}}
</div>