{{#if error}}
    <div class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
      {{error}}
    </div>
{{/if}}
<form method="POST" style="max-width: 500px; margin: auto; margin-top: 50px; border: 0.5px solid gray; padding: 30px 30px 30px 30px">
    <h3>A 4-digit verification code has been sent to your phone</h3>
    <div class="form-group">
        <label>4-digit Code:</label>
        <input type="text" name="code" class="form-control">
    </div>
    <button class="btn btn-primary" type="submit">Submit</button>
    <a class="btn btn-primary" href="/verify/{{user._id}}" style="float:right;">Generate new code</button>
</form>