html, body {
  font: 35px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: lightblue;
  overflow-y:scroll;
  height: 100%;
}

header {
  height: 65px;
}

input {
  text-align: center;
}

h1 {
  font-size: 120%;
  margin:0;
}

h2 {
  font-size: 80%;
  margin:0;
}

label {
  font-weight: normal;
  font-size: 50%;
}

.logo {
  margin-bottom: 75px;
  width: 200px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
}

header>.logo {
  margin-top: 10px;
  margin-bottom: 0;
  width: 150px;
}

.btn-header {
  float: right;
  width:200px!important;
  margin: 10px!important;
  font-size: 20px!important;
  border-radius: 2px;
}

#backToGroups {
  float:left;
}

.wrapper {
  width: 600px;
  height:550px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align:center;
  overflow-y: scroll;
}

.btn {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 20px;
  border-radius: 2px;
  width: 200px;
}

.btn-color {
  color: white;
  background-color: #5cb85c;
  border-color: #46b8da;
}

.container {
  width: 80%;
  font-size: 80%;
  background: whitesmoke;
  padding: 10px;
  border-radius: 3px;
  margin-top: 15px;
}

.title {
  font-weight: bold;
}

textarea {
  text-align: center;
}

.form-group {
  display: flex;
}

.fa {
  text-decoration: none;
  font-size: 80%;
}

.border {
	border-style: none none dotted none;
}

@media only screen and (max-width: 500px) {
  .wrapper {
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}